<svg id="maze" class="maze" tabindex="0" (keydown)="onKeyDown($event)" autofocus> </svg>
<div class="buttons">
  <input type="button" value="Solve" (click)="onSolveClick()"/>
  <input type="button" value="Cont." (click)="onContinueClick()"/>
  <input type="button" value="Reset" (click)="onResetMazeClick()"/>
  <select (change)="onMazeSelected($event)">
    <option *ngFor="let _mazeName of mazeNames" [value]="_mazeName"  [selected]="_mazeName == mazeName">{{_mazeName}}</option>
  </select>
  <select (change)="onSpeedSelected($event)">
    <option *ngFor="let speed of mouseSpeeds" [value]="+speed" [selected]="+speed == mouseSpeed">{{MouseSpeed[+speed]}}</option>
  </select>

</div>
